#grddiv{
    height: 290px;
    width: 300px;
    border: 1px solide black;
    background-color: rgb(1, 1, 14);
    text-align: left;
    color: aliceblue;
    opacity: 0.9;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
}

#p1{
    position:relative;
    /* margin-top: 15%; */
    top: 13px;
    height: 20px;
    width: 90px;
    border: 1px solide black;
    /* background-color: black; */
    color: rgb(255, 255, 255) 
}

#pp1{
    position: relative;
    top: 13px; 
}

#pp3{
    position: relative;
    bottom: 15px;
}

#pp4{
      position: relative;
    left: 6%;
    bottom: 35px;
}

#bt{
     height: 20px;
    width:145px; 
    position: relative;
    bottom: 47px;
    border-radius: 30px;
    
    /* text-align: center; */
}



#bb{
    /* height: 25px;
    width: 150px; */
    padding: 2px 50px;
    background-color: rgb(53, 135, 230)
    
    
}

#bt1{
    position: relative;
    bottom: 67px;
    left: 150px; 
    
    
}

#bb1{
    padding: 2px 29px;

    background-color: rgb(158, 158, 158);
    opacity: 0.2px;
    
}

#bb1:hover{
    background-color: blue;

}



#bb2{
    
    padding: 8px 5px ;
    border: 1px solid black;
    padding: 2px 10px;
    width: 100%;
    
}

#bb2:hover{
    background-color: rgb(245, 240, 240);
    cursor: pointer; 
}

#bt2{
    /* position:relative;
    bottom: 55px;
    padding: 2px 10px 2px 10px; */
    margin: auto;
    width: 100%;
    margin-top: -4em;   
}

#zp2{
    /* border: 1px solid black; */
    height: 25px;
    width: 140px;
    position:relative;
    bottom: -2px; 
    left: 585px;


  /* margin-bottom: 5%; */
}

#zp1{
    /* border: 1px solid black; */
    height: 25px;
    width: 260px;
    position: relative;
    top: 4em;
    left: 530px;
}

#zp3{
    height: 35px;
    width: 160px;
    /* border: 1px solid black; */
    position: relative;
    left:55px;
    top: 15px;
    padding: 9px;
    /* margin-left: auto;
    margin-right: auto; */
}

#zp4{
    height: 35px;
    width: 100px; 
    /* border: 1px solid black; */
    padding: 9px;
    position: relative;
    top: -15px;
    left: 95px;
    /* margin-left: auto;
    margin-right: auto; */
    color: black;


}

body{
    text-align: center;

}

#logo{
   position: relative;
   top:60px
}

#big{
    background-color: black;
    opacity: 0.9px;
}